c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Armin Biere (biere@jku.at)
c 
c The original name of this formula was: 
c    crafted/biere05/linvrinv/linvrinv2.cnf
c The random seed used to shuffle this instance was seed=797250
c Category
c    crafted
c The name used during the competition was: 
c     /benchs/crafted/set2/sat05-561.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | CirCUsA(*)          |    0.00 |  UNSAT |
c   | CirCUsB(*)          |    0.00 |  UNSAT |
c   | compsat             |    0.00 |  UNSAT |
c   | csat                |    0.00 |  UNSAT |
c   | eureka_A(*)         |    0.00 |  UNSAT |
c   | eureka_B(*)         |    0.00 |  UNSAT |
c   | eureka_C(*)         |    0.00 |  UNSAT |
c   | HaifaSat            |    0.00 |  UNSAT |
c   | HaifaSat2           |    0.00 |  UNSAT |
c   | hsat.1              |    0.00 |  UNSAT |
c   | hsat.5              |    0.00 |  UNSAT |
c   | hsatrr              |    0.00 |  UNSAT |
c   | Jerusat1.31_A       |    0.00 |  UNSAT |
c   | Jerusat1.31_B       |    0.00 |  UNSAT |
c   | kcnfs(*)            |    0.00 |  UNSAT |
c   | kcnfs-2004          |    0.00 |  UNSAT |
c   | march_dl            |    0.00 |  UNSAT |
c   | minisat_static      |    0.00 |  UNSAT |
c   | vallst.sh           |    0.00 |  UNSAT |
c   | zchaff              |    0.00 |  UNSAT |
c   | zchaff_rand         |    0.00 |  UNSAT |
c   | CirCUsD(*)          |    0.01 |  UNSAT |
c   | Dew_Satz_1c         |    0.01 |  UNSAT |
c   | midisat_static(*)   |    0.01 |  UNSAT |
c   | SatELiteGTI         |    0.01 |  UNSAT |
c   | SatELite_release(*) |    0.01 |  UNSAT |
c   | lsatv1.1            |    0.02 |  UNSAT |
c   | tts-3-0             |    0.02 |  UNSAT |
c   | Dew_Satz_1a         |    0.04 |  UNSAT |
c   | Dew_Satz_1b         |    0.04 |  UNSAT |
c   | Dew_Satz_1d(*)      |    0.04 |  UNSAT |
c   | Dew_Satz_1e(*)      |    0.04 |  UNSAT |
c   | wllsatv1            |    0.12 |  UNSAT |
c   | sat4j.jar           |    0.23 |  UNSAT |
c   | adaptnovelty        | 1200.00 |   --   |
c   | g2wsat              | 1200.00 |   --   |
c   | ranov               | 1200.00 |   --   |
c   | rpaws10             | 1200.00 |   --   |
c   | rpaws40(*)          | 1200.00 |   --   |
c   | rpaws5(*)           | 1200.00 |   --   |
c   | rrsaps              | 1200.00 |   --   |
c   | saps                | 1200.00 |   --   |
c   | vw                  | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
c Old header (deleted during the contest) begins here:
c ****************************************************************
c linvrinv2x2qf2.cnf
c (dimension 2 over galois field 2)
c generated by 'genlinvrinv' by Armin Biere
c $Id: genlinvrinv.c,v 1.9 2004/07/05 11:52:13 biere Exp $
c These benchmarks have been proposed by Steven Cook in the SAT'04
c conference as a challenge for SAT solvers.  It is conjectured
c that a SAT solver needs to implement some sort of gausian elimination
c in order to be fast on these benchmarks for large <n>.
c 
c Each benchmark is a CNF in DIMACS format that is unsatisfiable iff
c 
c     A * B = I   implies   B * A = I
c 
c where A is a square matrix of dimension <n> over the galois field <p>
c and I is the <n>x<n> identity matrix.
c ,     .   ,     .   ,     .
c | 1 3 | * | 2 4 | = | T 0 |
c | 5 7 |   | 6 8 |   | 0 T |
c `     '   `     '   `     '
c =>
c ,     .   ,     .   ,     .
c | 2 4 | * | 1 3 | = | T 0 |
c | 6 8 |   | 5 7 |   | 0 T |
c `     '   `     '   `     '
c ****************************************************************
p cnf 24 61
-16 11 0
9 -24 0
4 -14 0
-20 4 0
7 23 17 0
-1 4 3 0
-11 16 -8 0
-23 17 -7 0
-14 10 0
9 -6 13 0
-18 -15 0
-14 -15 0
3 1 -4 0
-17 23 -7 0
23 2 0
19 24 -2 0
-24 4 0
14 -4 0
-8 15 18 0
19 -18 0
3 -2 -22 0
-16 12 0
9 6 -13 0
-20 -5 0
22 -6 0
10 9 0
-19 -24 0
-16 23 0
11 21 14 0
-3 -1 -4 0
17 -15 0
5 -22 20 0
7 -23 -17 0
20 15 -17 0
11 8 0
8 -18 0
2 -3 0
5 12 0
-8 -22 6 0
-9 24 -10 0
-14 11 -21 0
-9 -6 -13 0
21 -14 -11 0
18 -19 0
-12 -5 0
17 -20 0
22 -3 0
15 -10 14 0
-5 22 0
-2 16 -23 0
6 13 -9 0
14 -11 -21 0
-21 -7 1 -13 0
-10 -12 16 0
11 -3 0
-3 1 4 0
3 -11 0
12 10 0
2 -19 0
-6 8 0
24 -4 20 0
