c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Frederic Maris (maris@irit.fr)
c 
c The original name of this formula was: 
c    industrial/maris05/Ferry/ferry7_v01i.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set7/subset5/sat05-4003.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | minisat_static      |    0.05 |   SAT  |
c   | SatELiteGTI         |    0.11 |   SAT  |
c   | midisat_static(*)   |    0.36 |   SAT  |
c   | HaifaSat            |    0.53 |   SAT  |
c   | CirCUsD(*)          |    0.59 |   SAT  |
c   | zchaff_rand         |    0.59 |   SAT  |
c   | Jerusat1.31_B       |    1.83 |   SAT  |
c   | CirCUsB(*)          |    1.84 |   SAT  |
c   | HaifaSat2           |    2.32 |   SAT  |
c   | csat                |    2.38 |   SAT  |
c   | eureka_B(*)         |    3.97 |   SAT  |
c   | eureka_A(*)         |    4.81 |   SAT  |
c   | eureka_C(*)         |    5.73 |   SAT  |
c   | zchaff              |    6.45 |   SAT  |
c   | Jerusat1.31_A       |    8.01 |   SAT  |
c   | rrsaps              |    8.97 |   SAT  |
c   | kcnfs(*)            |    9.56 |  UNSAT |
c   | CirCUsA(*)          |    9.63 |   SAT  |
c   | vallst.sh           |   10.61 |   SAT  |
c   | sat4j.jar           |   11.35 |   SAT  |
c   | compsat             |   39.92 |   SAT  |
c   | hsat.5              |  930.97 |   SAT  |
c   | adaptnovelty        | 1200.00 |   --   |
c   | Dew_Satz_1a         | 1200.00 |   --   |
c   | Dew_Satz_1b         | 1200.00 |   --   |
c   | Dew_Satz_1c         | 1200.00 |   --   |
c   | Dew_Satz_1d(*)      | 1200.00 |   --   |
c   | Dew_Satz_1e(*)      | 1200.00 |   --   |
c   | g2wsat              | 1200.00 |   --   |
c   | hsat.1              | 1200.00 |   --   |
c   | hsatrr              | 1200.00 |   --   |
c   | kcnfs-2004          | 1200.00 |   --   |
c   | lsatv1.1            | 1200.00 |   --   |
c   | march_dl            | 1200.00 |   --   |
c   | ranov               | 1200.00 |   --   |
c   | rpaws10             | 1200.00 |   --   |
c   | rpaws40(*)          | 1200.00 |   --   |
c   | rpaws5(*)           | 1200.00 |   --   |
c   | saps                | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   | vw                  | 1200.00 |   --   |
c   | wllsatv1            | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
