c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Frederic Maris (maris@irit.fr)
c 
c The original name of this formula was: 
c    industrial/maris05/Ferry/ferry8_v01a.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set7/subset5/sat05-4006.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | minisat_static      |    0.01 |   SAT  |
c   | CirCUsA(*)          |    0.04 |   SAT  |
c   | eureka_B(*)         |    0.04 |   SAT  |
c   | eureka_C(*)         |    0.04 |   SAT  |
c   | zchaff              |    0.04 |   SAT  |
c   | SatELiteGTI         |    0.05 |   SAT  |
c   | midisat_static(*)   |    0.06 |   SAT  |
c   | Jerusat1.31_A       |    0.08 |   SAT  |
c   | CirCUsB(*)          |    0.10 |   SAT  |
c   | HaifaSat2           |    0.10 |   SAT  |
c   | zchaff_rand         |    0.10 |   SAT  |
c   | CirCUsD(*)          |    0.13 |   SAT  |
c   | compsat             |    0.20 |   SAT  |
c   | kcnfs(*)            |    0.20 |  UNSAT |
c   | rrsaps              |    0.20 |   SAT  |
c   | HaifaSat            |    0.21 |   SAT  |
c   | eureka_A(*)         |    0.34 |   SAT  |
c   | Jerusat1.31_B       |    0.51 |   SAT  |
c   | csat                |    0.67 |   SAT  |
c   | hsat.1              |    0.67 |   SAT  |
c   | hsatrr              |    0.74 |   SAT  |
c   | hsat.5              |    0.76 |   SAT  |
c   | vallst.sh           |    1.47 |   SAT  |
c   | rpaws40(*)          |    1.67 |   SAT  |
c   | sat4j.jar           |    3.07 |   SAT  |
c   | wllsatv1            |   10.16 |   SAT  |
c   | march_dl            |   13.51 |   SAT  |
c   | g2wsat              |   17.37 |   SAT  |
c   | vw                  |   22.76 |   SAT  |
c   | lsatv1.1            |  133.42 |   SAT  |
c   | rpaws10             |  167.09 |   SAT  |
c   | saps                |  573.11 |   SAT  |
c   | ranov               |  579.65 |   SAT  |
c   | adaptnovelty        | 1200.00 |   --   |
c   | Dew_Satz_1a         | 1200.00 |   --   |
c   | Dew_Satz_1b         | 1200.00 |   --   |
c   | Dew_Satz_1c         | 1200.00 |   --   |
c   | Dew_Satz_1d(*)      | 1200.00 |   --   |
c   | Dew_Satz_1e(*)      | 1200.00 |   --   |
c   | kcnfs-2004          | 1200.00 |   --   |
c   | rpaws5(*)           | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
