c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Frederic Maris (maris@irit.fr)
c 
c The original name of this formula was: 
c    industrial/maris05/Ferry/ferry6_v01i.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set8/subset5/sat05-4066.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | HaifaSat2           |    0.08 |   SAT  |
c   | minisat_static      |    0.08 |   SAT  |
c   | zchaff              |    0.08 |   SAT  |
c   | SatELiteGTI         |    0.12 |   SAT  |
c   | compsat             |    0.13 |   SAT  |
c   | HaifaSat            |    0.22 |   SAT  |
c   | CirCUsD(*)          |    0.23 |   SAT  |
c   | eureka_A(*)         |    0.35 |   SAT  |
c   | CirCUsA(*)          |    0.49 |   SAT  |
c   | csat                |    0.55 |   SAT  |
c   | CirCUsB(*)          |    0.63 |   SAT  |
c   | midisat_static(*)   |    0.68 |   SAT  |
c   | rrsaps              |    0.74 |   SAT  |
c   | zchaff_rand         |    1.03 |   SAT  |
c   | Jerusat1.31_A       |    1.12 |   SAT  |
c   | eureka_B(*)         |    1.39 |   SAT  |
c   | vallst.sh           |    1.77 |   SAT  |
c   | eureka_C(*)         |    2.13 |   SAT  |
c   | sat4j.jar           |    3.17 |   SAT  |
c   | Jerusat1.31_B       |    3.60 |   SAT  |
c   | hsat.5              |   25.41 |   SAT  |
c   | hsat.1              |   27.82 |   SAT  |
c   | Dew_Satz_1e(*)      |   41.09 |   SAT  |
c   | march_dl            |  111.51 |   SAT  |
c   | kcnfs-2004          |  253.33 |   SAT  |
c   | vw                  | 1172.89 |   SAT  |
c   | adaptnovelty        | 1200.00 |   --   |
c   | Dew_Satz_1a         | 1200.00 |   --   |
c   | Dew_Satz_1b         | 1200.00 |   --   |
c   | Dew_Satz_1c         | 1200.00 |   --   |
c   | Dew_Satz_1d(*)      | 1200.00 |   --   |
c   | g2wsat              | 1200.00 |   --   |
c   | hsatrr              | 1200.00 |   --   |
c   | kcnfs(*)            | 1200.00 |   --   |
c   | lsatv1.1            | 1200.00 |   --   |
c   | ranov               | 1200.00 |   --   |
c   | rpaws10             | 1200.00 |   --   |
c   | rpaws40(*)          | 1200.00 |   --   |
c   | rpaws5(*)           | 1200.00 |   --   |
c   | saps                | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   | wllsatv1            | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
