c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Frederic Maris (maris@irit.fr)
c 
c The original name of this formula was: 
c    industrial/maris05/Rovers/rovers5_ks99i.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set8/subset3/sat05-4041.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | minisat_static      |    0.02 |   SAT  |
c   | HaifaSat2           |    0.04 |   SAT  |
c   | CirCUsB(*)          |    0.05 |   SAT  |
c   | CirCUsD(*)          |    0.06 |   SAT  |
c   | compsat             |    0.07 |   SAT  |
c   | midisat_static(*)   |    0.07 |   SAT  |
c   | CirCUsA(*)          |    0.08 |   SAT  |
c   | eureka_B(*)         |    0.10 |   SAT  |
c   | zchaff              |    0.10 |   SAT  |
c   | eureka_C(*)         |    0.11 |   SAT  |
c   | eureka_A(*)         |    0.12 |   SAT  |
c   | zchaff_rand         |    0.12 |   SAT  |
c   | csat                |    0.13 |   SAT  |
c   | vw                  |    0.16 |   SAT  |
c   | hsat.1              |    0.29 |   SAT  |
c   | hsatrr              |    0.32 |   SAT  |
c   | hsat.5              |    0.33 |   SAT  |
c   | HaifaSat            |    0.36 |   SAT  |
c   | SatELiteGTI         |    0.36 |   SAT  |
c   | Jerusat1.31_B       |    0.58 |   SAT  |
c   | Dew_Satz_1c         |    0.66 |   SAT  |
c   | g2wsat              |    0.73 |   SAT  |
c   | Jerusat1.31_A       |    0.83 |   SAT  |
c   | lsatv1.1            |    1.01 |   SAT  |
c   | rrsaps              |    1.22 |   SAT  |
c   | rpaws10             |    1.24 |   SAT  |
c   | rpaws40(*)          |    1.25 |   SAT  |
c   | wllsatv1            |    1.32 |   SAT  |
c   | ranov               |    1.37 |   SAT  |
c   | sat4j.jar           |    1.49 |   SAT  |
c   | Dew_Satz_1d(*)      |    1.84 |   SAT  |
c   | Dew_Satz_1b         |    1.99 |   SAT  |
c   | Dew_Satz_1a         |    2.10 |   SAT  |
c   | vallst.sh           |    2.66 |   SAT  |
c   | Dew_Satz_1e(*)      |    3.08 |   SAT  |
c   | march_dl            |    3.38 |   SAT  |
c   | adaptnovelty        |   20.68 |   SAT  |
c   | rpaws5(*)           |  220.71 |   SAT  |
c   | saps                |  377.29 |   SAT  |
c   | kcnfs(*)            | 1200.00 |   --   |
c   | kcnfs-2004          | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
