c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Francois Grieu (francois.grieu@spirtech.com)
c 
c The original name of this formula was: 
c    industrial/grieu05/vmpc/vmpc_32.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set2/subset1/sat05-1919.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | adaptnovelty        | 1200.00 |   --   |
c   | CirCUsA(*)          | 1200.00 |   --   |
c   | CirCUsB(*)          | 1200.00 |   --   |
c   | CirCUsD(*)          | 1200.00 |   --   |
c   | compsat             | 1200.00 |   --   |
c   | csat                | 1200.00 |   --   |
c   | Dew_Satz_1a         | 1200.00 |   --   |
c   | Dew_Satz_1b         | 1200.00 |   --   |
c   | Dew_Satz_1c         | 1200.00 |   --   |
c   | Dew_Satz_1d(*)      | 1200.00 |   --   |
c   | Dew_Satz_1e(*)      | 1200.00 |   --   |
c   | eureka_A(*)         | 1200.00 |   --   |
c   | eureka_B(*)         | 1200.00 |   --   |
c   | eureka_C(*)         | 1200.00 |   --   |
c   | g2wsat              | 1200.00 |   --   |
c   | HaifaSat            | 1200.00 |   --   |
c   | HaifaSat2           | 1200.00 |   --   |
c   | hsat.1              | 1200.00 |   --   |
c   | hsat.5              | 1200.00 |   --   |
c   | hsatrr              | 1200.00 |   --   |
c   | Jerusat1.31_A       | 1200.00 |   --   |
c   | Jerusat1.31_B       | 1200.00 |   --   |
c   | kcnfs(*)            | 1200.00 |   --   |
c   | kcnfs-2004          | 1200.00 |   --   |
c   | lsatv1.1            | 1200.00 |   --   |
c   | march_dl            | 1200.00 |   --   |
c   | midisat_static(*)   | 1200.00 |   --   |
c   | minisat_static      | 1200.00 |   --   |
c   | ranov               | 1200.00 |   --   |
c   | rpaws10             | 1200.00 |   --   |
c   | rpaws40(*)          | 1200.00 |   --   |
c   | rpaws5(*)           | 1200.00 |   --   |
c   | rrsaps              | 1200.00 |   --   |
c   | saps                | 1200.00 |   --   |
c   | sat4j.jar           | 1200.00 |   --   |
c   | SatELiteGTI         | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   | vallst.sh           | 1200.00 |   --   |
c   | vw                  | 1200.00 |   --   |
c   | wllsatv1            | 1200.00 |   --   |
c   | zchaff              | 1200.00 |   --   |
c   | zchaff_rand         | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
