c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Francois Grieu (francois.grieu@spirtech.com)
c 
c The original name of this formula was: 
c    industrial/grieu05/vmpc/vmpc_22.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set3/subset1/sat05-1956.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | HaifaSat            |    0.62 |   SAT  |
c   | compsat             |    4.69 |   SAT  |
c   | CirCUsB(*)          |    6.86 |   SAT  |
c   | eureka_C(*)         |   10.80 |   SAT  |
c   | g2wsat              |   12.32 |   SAT  |
c   | HaifaSat2           |   16.63 |   SAT  |
c   | eureka_A(*)         |   21.75 |   SAT  |
c   | midisat_static(*)   |   25.41 |   SAT  |
c   | sat4j.jar           |   25.43 |   SAT  |
c   | csat                |   29.75 |   SAT  |
c   | Jerusat1.31_B       |   37.87 |   SAT  |
c   | hsat.5              |   40.97 |   SAT  |
c   | hsatrr              |   42.39 |   SAT  |
c   | eureka_B(*)         |   42.41 |   SAT  |
c   | hsat.1              |   44.30 |   SAT  |
c   | minisat_static      |   48.02 |   SAT  |
c   | SatELiteGTI         |   49.06 |   SAT  |
c   | ranov               |   50.12 |   SAT  |
c   | Dew_Satz_1d(*)      |   61.98 |   SAT  |
c   | rpaws10             |   67.14 |   SAT  |
c   | Jerusat1.31_A       |   72.90 |   SAT  |
c   | Dew_Satz_1a         |   75.23 |   SAT  |
c   | zchaff              |   80.50 |   SAT  |
c   | march_dl            |   83.49 |   SAT  |
c   | Dew_Satz_1c         |  103.30 |   SAT  |
c   | Dew_Satz_1b         |  114.93 |   SAT  |
c   | rpaws40(*)          |  136.14 |   SAT  |
c   | vallst.sh           |  152.48 |   SAT  |
c   | rpaws5(*)           |  160.42 |   SAT  |
c   | rrsaps              |  184.14 |   SAT  |
c   | Dew_Satz_1e(*)      |  195.57 |   SAT  |
c   | CirCUsA(*)          |  256.54 |   SAT  |
c   | CirCUsD(*)          |  305.51 |   SAT  |
c   | zchaff_rand         |  440.88 |   SAT  |
c   | wllsatv1            |  606.39 |   SAT  |
c   | adaptnovelty        | 1200.00 |   --   |
c   | kcnfs(*)            | 1200.00 |   --   |
c   | kcnfs-2004          | 1200.00 |   --   |
c   | lsatv1.1            | 1200.00 |   --   |
c   | saps                | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   | vw                  | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
