c ****************************************************************
c **           This is a Sat-2005 Competition instance          **
c ****************************************************************
c N.B. This header has been added to the file after the competition
c Please do contact L. Simon for more informations (simon@lri.fr)
c 
c Bench submitted by 
c    Francois Grieu (francois.grieu@spirtech.com)
c 
c The original name of this formula was: 
c    industrial/grieu05/vmpc/vmpc_21.cnf

c Category
c    industrial
c The name used during the competition was: 
c     /benchs/industrial/set2/subset1/sat05-1923.cnf
c 
c CPU time of solvers on this bench during the first stage 
c  (demonstration solvers are annoted with a (*)):
c   +---------------------+---------+--------+
c   | Solver              | Time    | Answer |
c   +---------------------+---------+--------+
c   | kcnfs(*)            |    0.48 |  UNSAT |
c   | compsat             |    1.60 |   SAT  |
c   | eureka_B(*)         |    2.05 |   SAT  |
c   | CirCUsB(*)          |    9.51 |   SAT  |
c   | g2wsat              |   10.59 |   SAT  |
c   | Dew_Satz_1d(*)      |   18.43 |   SAT  |
c   | minisat_static      |   22.75 |   SAT  |
c   | SatELiteGTI         |   22.80 |   SAT  |
c   | Jerusat1.31_B       |   27.49 |   SAT  |
c   | eureka_C(*)         |   29.64 |   SAT  |
c   | HaifaSat            |   34.60 |   SAT  |
c   | eureka_A(*)         |   41.87 |   SAT  |
c   | midisat_static(*)   |   42.34 |   SAT  |
c   | HaifaSat2           |   42.80 |   SAT  |
c   | Jerusat1.31_A       |   52.84 |   SAT  |
c   | CirCUsD(*)          |   62.80 |   SAT  |
c   | rpaws10             |   67.88 |   SAT  |
c   | zchaff              |   75.99 |   SAT  |
c   | march_dl            |   81.74 |   SAT  |
c   | hsat.1              |   89.57 |   SAT  |
c   | Dew_Satz_1c         |   95.71 |   SAT  |
c   | Dew_Satz_1b         |  100.03 |   SAT  |
c   | hsat.5              |  104.11 |   SAT  |
c   | wllsatv1            |  105.90 |   SAT  |
c   | rpaws5(*)           |  108.09 |   SAT  |
c   | CirCUsA(*)          |  109.48 |   SAT  |
c   | rpaws40(*)          |  125.54 |   SAT  |
c   | csat                |  138.61 |   SAT  |
c   | sat4j.jar           |  139.62 |   SAT  |
c   | Dew_Satz_1a         |  168.96 |   SAT  |
c   | Dew_Satz_1e(*)      |  241.01 |   SAT  |
c   | zchaff_rand         |  243.43 |   SAT  |
c   | ranov               |  263.93 |   SAT  |
c   | vw                  |  292.91 |   SAT  |
c   | rrsaps              |  372.81 |   SAT  |
c   | vallst.sh           |  553.81 |   SAT  |
c   | adaptnovelty        | 1200.00 |   --   |
c   | hsatrr              | 1200.00 |   --   |
c   | kcnfs-2004          | 1200.00 |   --   |
c   | lsatv1.1            | 1200.00 |   --   |
c   | saps                | 1200.00 |   --   |
c   | SatELite_release(*) | 1200.00 |   --   |
c   | tts-3-0             | 1200.00 |   --   |
c   +---------------------+---------+--------+
c
